.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10rem;
  box-sizing: border-box;
  background-size: 400% 400%;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2rem;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-text {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(174, 208, 245);
  text-shadow: 0 0 10px rgb(249, 248, 251);
}

.dynamic-text {
  font-size: 2.5rem; /* Adjusted size to fit better */
  color: rgb(208, 172, 198);
  font-weight: bold;
  text-shadow: 0 0 10px rgb(241, 236, 236), 0 0 10px rgb(94, 81, 81);
  margin-top: 1rem; /* Space between static and dynamic text */
  transition: all 0.5s ease;
  white-space: nowrap; /* Ensure text does not wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Handle overflow text */
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 1s, box-shadow 0.5s ease-in-out; /* Smooth transition for the glow */
  border: 4px solid white; /* White border */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6); /* Glowing effect */
}

/* Optional: Glow intensifies on hover */
.image-container img:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.8); /* Stronger glow on hover */
}
