.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10rem;
  box-sizing: border-box;
  background-size: 400% 400%;
}
.profile-image-container {
    margin-top: 20px;
    text-align: center;
}

.profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2rem;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-text {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(40, 7, 122);
  text-shadow: 0 0 10px rgb(27, 127, 186);
}

.dynamic-text {
  font-size: 2.5rem; /* Adjusted size to fit better */
  color: rgb(76, 3, 56);
  font-weight: bold;
  text-shadow: 0 0 10px rgb(154, 81, 191), 0 0 10px rgb(137, 34, 34);
  margin-top: 1rem; /* Space between static and dynamic text */
  transition: all 0.5s ease;
  white-space: nowrap; /* Ensure text does not wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Handle overflow text */
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 1s, box-shadow 0.5s ease-in-out; /* Smooth transition for the glow */
  border: 4px solid rgb(14, 2, 2); /* White border */
  box-shadow: 0 0 20px 5px rgba(28, 1, 1, 0.6); /* Glowing effect */
}

/* Optional: Glow intensifies on hover */
.image-container img:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.8); /* Stronger glow on hover */
}
